#rcue-login-screen {
    width: 100%;
    min-width: 850px;
    height: 100%;
    background-color: white;

/* IE10+ */
background-image: -ms-linear-gradient(top, #eeeeee 0%, #FFFFFF 50%, #EEEEEE 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #eeeeee 0%, #FFFFFF 50%, #EEEEEE 100%);

/* Opera */
background-image: -o-linear-gradient(top, #eeeeee 0%, #FFFFFF 50%, #EEEEEE 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(50, #FFFFFF), color-stop(100, #EEEEEE));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #eeeeee 0%, #FFFFFF 50%, #EEEEEE 100%);

/* W3C Markup */
background-image: linear-gradient(to bottom, #eeeeee 0%, #FFFFFF 50%, #EEEEEE 100%);

    background-position: top left;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;
	border-top: solid 20px #555;
}

#rcue-login-screen img#logo {
    position: absolute;
    top: 50px;
    right: 64px;
}

#rcue-login-screen h3 {
    font-weight: normal;
    text-align: left;
    margin: -31px 0 10px 0;
    color: red;
    letter-spacing: 0.03em;
}

#rcue-login-screen form {
    position: absolute;
    bottom: 15%;
    padding-left: 100px;
    width: 100%;
    min-width: 850px;
    border-top: 5px #666 solid;
    border-bottom: 10px #f51e23 solid;
    background-color: rgba(0, 0, 0, 0.3);
}

#rcue-login-screen form img {
	max-width: 100px;
}

#rcue-login-screen form aside {
    float: left;
    margin: 40px;
}

#rcue-login-screen form aside p {
    margin-bottom: 8px;
}

#rcue-login-screen fieldset {
    float: left;
    margin: 30px 0;
    padding: 10px;
    padding-right: 44px;
    width: 484px;
    border-right: 1px rgba(255, 255, 255, 0.15) solid;
}

#rcue-login-screen fieldset legend {
    position: absolute;
    top: -54px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 200;
    font-size: 22px;
    font-size: 22px;
}

#rcue-login-screen fieldset legend strong {
    margin-right: 4px;
    font-weight: 700;
}

#rcue-login-screen fieldset label {
    display: inline-block;
    float: left;
    margin-top: 5px;
    width: 144px;
    font-weight: 700;
}

#rcue-login-screen fieldset input[type="text"],
#rcue-login-screen fieldset input[type="password"] {
    margin: 4px 0;
    width: 282px;
}

#rcue-login-screen fieldset input[type="button"] {
    float: right;
    margin-top: 16px;
}

#rcue-login-screen fieldset small {
    line-height: 22px;
    margin-left: 87px;
    margin-top: 10px;
    display: block;
    float: left;
}
